h1{
    text-align: center;
    font-family:  "Libre Baskerville", serif;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px rgb(0, 0, 0);
    font-size: 64px;
    
}
body{
    background-image: url(gettyimages-2195283073-2048x2048.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
}
h2{
    font-variant: small-caps;
    font-size: 32px;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px rgb(0, 0, 0)
}
img{
    border: 5px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    
}
p{
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px rgb(0, 0, 0)

}
a{
    position: relative;
    left: 720px;
    font-size: 34px;
    text-decoration: none;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a:hover{
    color: red;
}
.ins{
    color: rgba(175, 0, 190, 0.514);
}